name: restaurats-api-ci

on:
  pull_request:
    branches: 
    - master
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name:  Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test 
